#bgimage{
	background: #eee url(./image/bgimage.png);
	width: 1100px;
	height: 100px;
}
#container{
	margin: 0 auto;
	width: 1100px;
	font-family: 微软雅黑;
	background-color: #eee;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
	color: green;
}
.header{
	width: 1100px;
	background: #eee url(./image/logo.png) no-repeat;
	display: table-cell;
	vertical-align: middle;
	height: 100px;

}
.header nav{
	background-color: #332a1c;
	margin-left: 225px;
	height: 80px;
}
.menu{
	padding-left:300px;

}
nav li{
	display: inline-block;
	list-style:none;
	text-align: center;
	margin:3px 23px 0 30px;
}
nav li a{
	display: block;
	color: white;
	width: 73px;
	font-size: 15px;
	line-height: 77px;
	text-decoration: none;
}
li:hover{
	border-top: #eee 5px solid;
	margin-top: -5px;
	background-color: #44351d;
}
li:visited{
	color: #fff843;

}
.left{
	float: left;
	width:640px;
	margin: 50px 0 0 50px;
}
 .content{
	display:block;
	font-size: 21px;
	color: #332a1c;
	font-weight: 600;
	border-bottom: #332a1c 2px solid;
	padding-bottom: 14px;
}
.new_book{
	margin-top: 30px;
	float: left;
	margin-right: 43px;
	width: 170px;
	height: 235px;
}
.book{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.book_information{
	background-color: #332a1c;
	opacity: 0.9;
	height: 55px;
	margin-top: -55px;
	text-align: center;
}
.title{
	font-size: 15px;
	color: #fff843;
	padding: 11px 0 4px;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 167px;
	white-space:nowrap;
}
.title_hid{
	font-size: 15px;
	color: #fff843;
	padding: 11px 0 4px;
	width: 167px;

}
.author{
	font-size: 12px;
	color: #6e6961;
	padding-left: -20px;
}
.book_information_1{
	background-color: #332a1c;
	height: 225px;
	margin-top: -225px;
	display: none;
	z-index: 99999;
	position: relative;
}

.right{
	width: 190px;
	float: left;
	margin:50px 0 5px 98px;
}
.zhanwei{
	margin-top:710px;
	height: 1px;
}
.days{
	border-top:#6e6961 2px solid;
	margin-top: 10px;
}
.days p{
	color: white;
	margin-top:40px;

}
