.bgimage{
	background: transparent url(../image/bgimage.png) no-repeat;
	background-size: 100%;
	height: 20%;
	width: 100%;
	z-index: -999;


}
.bgimage img{
	width: 100%;
}
.container{
	margin: 70px auto;
	width: 1094px;
	background-color: #eee;
	border: transparent solid;
	overflow: hidden;
	margin: -10px auto 0 ;
	padding-bottom: 70px;
}
a{
	text-decoration: none;
}
a:hover{
	color: #fff843;
}
.nav_image{
	height: 100px;
	width: 240px;
	position: absolute;
	z-index: 1002;
}
.header{
	width: 1100px;
	position: relative;
	margin: 80px auto 0;
	height: 100px;

}
.header .menu{
	background-color: #332a1c;
	height: 75px;
	right: 0;
	top: 14%;
	left: 7%;
	position: absolute;
}
.menu{
	padding-left:455px;

}
.menu .nav{
	display: inline-block;
	list-style:none;
	text-align: center;
	margin-top: 3px;
	width: 125px;
	z-index: 1001;
}
.menu .nav a{
	display: block;
	color: white;
	font-size: 15px;
	line-height: 70px;
	text-decoration: none;
}
.menu .nav a:hover{
	border-top: #eee 5px solid;
	margin-top: -5px;
	background-color: #44351d;
}
.menu li:visited{
	color: #fff843;

}

.new_book{
	margin-top: 30px;
	float: left;
	margin-right: 43px;
	width: 170px;
	height: 235px;
	position: relative;
	overflow: hidden;
}
.book{
	width: 100%;
	height: 100%;
}
.book_information{
	background-color: #332a1c;
	opacity: 0.9;
	text-align: center;
	position: absolute;
	top: 78%;
	width: 100%;
	height: 100%;
	transition:all 0.5s;
}
.book_information:hover{
	top: 0;
}
.title{
	font-size: 15px;
	color: #fff843;
	padding: 11px 0 4px;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 167px;
	white-space:nowrap;
}
.title:hover{
	font-size: 15px;
	color: #fff843;
	padding: 11px 0 4px;
	width: 167px;
}
.author{
	font-size: 12px;
	color: #6e6961;
}
.author_hid{
	font-size: 12px;
	color: #6e6961;
	width: 167px;
}
.book_back{
	color: #eee;
	font-size: 15px;
	margin-bottom: 5px;
}
.right{
	width: 190px;
	float: left;
	margin:60px 0 5px 98px;
}
.book_tags{
	border-top:#6e6961 2px solid;
	margin-top: 10px;
	font-size: 12px
}
.book_tags p{
	color: white;
	margin-top:40px;
}
.bar{
	width: 100%;
	height: 8px;
    position: absolute;
    top: 0;
}
.progress{
	    height: 100%;
        background-color: #fff843;
        border-radius: 5px;
        width: 0;
}
.footer{
	width: 100%;
	text-align: center;
	background-color:  #332a1c;
}
.footer_word a:hover{
		color: #fff843;

}
.word_first a{
	color: #eee;
	font-size: 15px;
	line-height: 60px;
}
.word_second a{
	color: #eee;
	font-size: 12px;
	line-height: 50px;
}
/*首页最新录入类别导航*/
.left{
	float: left;
	width:640px;
	margin: 60px 0 0 50px;
	position: relative;
}
 .content{
	display:block;
	font-size: 21px;
	color: #332a1c;
	font-weight: 600;
	border-bottom: #332a1c 2px solid;
	padding-bottom: 14px;
	width: 640px;
}
.content_right{
	width: 210px;
}
.showbox{
	width: 640px;
	height: 630px;
	overflow: hidden;
	position: relative;
}
.slide{
	position: absolute;
	top: 0;
}
.slide li{
	float: left;
	overflow: hidden;
	display: block;
}
#prev,#prev_ever{
	background:transparent url(../image/prev.png) no-repeat 100%;
}
#next,#next_ever{
	background: transparent url(../image/next.png) no-repeat 100%;
}
.content .btn{
	width: 25px;
	height: 25px;
	float: right;
	margin: 0 35px 0 -10px;
}
.show_users{
	height:280px;
}
.ever{
	margin-top: 50px;
}
.flashes{
	background-color:  #fff843;
	color: #332a1c;
	text-align: center;
	width: 100%;
	height: 20px;
}
