.black_overlay{
		display: none;
		position: fixed;
		top:0%;
		left:0%;
		width:100%;
		height:100%;
		background-color:black;
		z-index:2015;
		-moz-opacity:0.5;
		opacity:0.5;
		filter:alpha(opacity=50);
	}
.light_content{
		display:none;
		position:fixed;
		top:50%;
		left:50%;
		transform:translate(-50%,-50%);
		z-index: 2016;
		border: 1px #dad33e solid;
		background-color: #dad33e;
		border-radius: 10px;
		text-align: center;
		width:500px;
		height:320px;
	}

.close{
		position: fixed;
		top: 5%;
		right: 5%;
		width: 40px;
		height: 5px;
		background: #fff;
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		z-index: 2016;
		display: none;
	}
.close:after{
		content: "";
		width: 40px;
		height: 5px;
		background: #fff;
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		z-index: 2016;
		top: 5%;
		right: 5%;
		position: absolute;
}
.close:hover{

	
	}
.search_word{
	line-height: 110px;
	font-size: 31px;
	font-weight: 600;
}
.search_ipt{
		position: relative;
		height: 66px;

	}
.ipt{
		width: 284px;
		padding:25px;
		border: #fff843;
		border-radius: 5px;
		font-size: 14px;
	}
.search_logo{
		position: absolute;
		top: 30%;
		right: 20%;
		background: url(../image/search.png) no-repeat 100%;
		width: 30px;
		height:35px;
		border: none;
	}
.choose{
		margin:15px;
	}
.choose label{
	margin:0 20px;
	font-weight:600;
}
.tags li{
	display: inline-block;
}

.tags li a{
		font-size: 14px;
		font-weight: 600;
		float: left;
		color: black;
		margin:15px 0;
		width: 55px;
		line-height: 25px;
	}
.tags li a:hover{
		background-color:#332a1c ;
		color: white;
		border-radius: 3px;
	}
.dengLu{
	font-family: adobe heiti std;
	font-size: 38px;
	margin-top: 35px;
}
.logOn_input{
	position: relative;
	margin: 17px auto;
}
.logo{
	display: block;
	position: absolute;
	width: 40px;
	height: 38px;
	top: 9px;
	left: 110px;
	border-radius:5px;
}
.name{
	background: #fff url(../image/logo_input.png) no-repeat 0 0;
}
.code{
	background: #fff url(../image/logo_input.png) no-repeat 0 -38px;
}
.logOn_input_text input{
	height: 55px;
	width: 185px;
	border: none;
	border-radius: 5px;
	padding: 0 55px;
	font-size: 19px;
}
.logOn_text{
	position: absolute;
	right: 110px;
	top: 35%;
	font-size: 20px;
	font-family: adobe heiti std;
}
.btn{
	width: 77px;
	height: 36px;
	background-color: #332a1c;
	border: none;
	border-radius: 5px;
	color: #fff;
	font-size:18px;
	font-family:adobe heiti std;
	cursor: pointer;
}
.btn a{
	width: 77px;
	height: 35px;
}
.go{
	position: absolute;
	left: 25%;

}
.cancel{
	position: absolute;
	right: 25%
}
.cancel a{
	color: #fff;
	display: inline-block;
	line-height: 38px;
}
