	.black_overlay{
		display: none;
		position: absolute;
		top:0%;
		left:0%;
		width:100%;
		height:100%;
		background-color:black;
		z-index:2015;
		-moz-opacity:0.5;
		opacity:0.5;
		filter:alpha(opacity=50);
	}
	.light_content{
		display:none;
		position:fixed;
		top:50%;
		left:50%;
		transform:translate(-50%,-50%);
		width:400px;
		height:192px;
		z-index: 2016;
		border: 1px #dad33e solid;
		background-color: #dad33e;
		border-radius: 10px;
		text-align: center;
	}
	.close{
		position: fixed;
		top: 0;
		right: 0;
		border-radius: 5px;
	}
	.close a{
		width: 45px;
		height: 20px;
		display: inline-block;
		color: white;
		font-weight: 600:
	}
	.close a:hover{
		width: 45px;
		height: 20px;
		background-color: #332a1c;
		border-radius: 5px;
	}
	.search_ipt{
		position: relative;
		height: 66px;
		margin-top: 40px;
	}
	.ipt{
		width: 284px;
		padding:25px;
		border: #fff843;
		border-radius: 5px;
		font-size: 14px;
	}
	.search_logo{
		position: absolute;
		top: 30%;
		right: 12%;
		outline: none;
	}
	.choose{
		margin:15px;
	}
	input[type="radio"]{
		margin:0 10px;
	}
	.tags li a{
		font-size: 14px;
		font-weight: 600;
		float: left;
		color: black;
		margin:0 15px;
	}
	.tags li a:hover{
		background-color: #e9e6e2;
		border-radius: 3px;
	}
