<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  {% block title %}{% endblock %}
	<!-- 消息闪现 -->
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="flashes" id="flashes">
    {% for message in messages %}
      <div>{{ message }}</div>
    {% endfor %}
	</div>
  {% endif %}
  {% endwith %}

  {% block css_file %}<!-- link css file -->{% endblock %}
</head>
<body onclick="fade()" class="bgimage">
  {% block style %}
  <!-- css style in html file -->
  {% endblock %}


			<div class="header">

				<div class="nav_image">
					<img src="/static/image/logo.png">
				</div>
		   		<ul class="menu">
					<li class="nav home"><a href="/">HOME</a></li>
					<li class="nav search"><a href="javascript:void(0)" onclick="showBorder()">SEARCH</a></li>
					<!--弹出框-->
						<a href="javascript:void(0)" onclick="hideBorder()"><div class="close" id="close"></div></a>
					<!--关闭 -->

						<div id="content" class="light_content">
						<div class="search_word">搜索</div>
						<form action="/search_results/" >
							<div class="search_ipt">
								<input type="text" class="ipt" placeholder="书名、关键词" name="search">
								<input type="submit" class="search_logo" alt="search" value="">
	    				</div>
							<!--div class="choose">
		    				<input type="radio" name="range" value="can" id="canBorrow"/><label for="canBorrow">可借</label>
		    				<input type="radio" name="range" value="all" id="all"/><label for="range_all">全部</label>
							</div-->
							<ul class="tags">
								<li><a href="/search_results/?search=前端&range=all">前端</a></li>
								<li><a href="/search_results/?search=后台&range=all">后台</a></li>
								<li><a href="/search_results/?search=设计&range=all">设计</a></li>
								<li><a href="/search_results/?search=互联网&range=all">互联网</a></li>
								<li><a href="/search_results/?search=其他&range=all">其他</a></li>
							</ul>
	 					</form>
						</div>


				{% if current_user.is_authenticated %}
					<li class="nav user"><a href="/user/{{ current_user.id }}">Hi!{{ current_user.username }}</a></li>
					<li class="nav log"><a href="/logout">LOG OUT</a></li>
				{% else %}
					<li class="nav log"><a href="javascript:;" onclick="showBorderLog()">LOG ON</a></li>
						<div id="content_log" class="light_content users">
				{% block form_content %}


				{% endblock %}
						</div>

				{% endif %}

			</ul>

	</div>
	<div id="fade" class="black_overlay"></div>
				<div id="fade_log" class="black_overlay"></div>

 {% block page_content %}{% endblock %}


{% block script_file %}{% endblock %}
<div class="footer">
  	<div class="footer_word">
			<p class="word_first"><a href="http://muxistudio.com/" target="_blank">木犀团队出品</a></p>
			<p class="word_second"><a href="https://github.com/mitsuhiko/flask" target="_blank">powered by flask</a></p>
		</div>
  </div>
</body>
</html>
