<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  {% block title %}{% endblock %}
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  {% endwith %}
  {% block css_file %}<!-- link css file -->{% endblock %}
</head>
<body>
  {% block style %}
  <!-- css style in html file -->
  {% endblock %}
	<!--此处占位-->
  <div id="container">
  	<div id="bgimage"></div>
			<div class="header">
				<nav>
		   	<ul class="menu">
					<li class="nav home"><a href="/">HOME</a></li>
					<li class="nav search"><a href="javascript:void(0)" onclick="showBorder()">SEARCH</a></li>
					<!--弹出框-->
						<div id="content" class="light_content search_content">
							<div class="close"><a href="javascript:void(0)" onclick="hideBorder()">关闭</a>
						</div>
						<form action="/search_results/" >
							<div class="search_ipt">
								<input type="text" class="ipt" placeholder="书名、关键词" name="search">
								<input type="submit" class="search_logo" alt="search" value="">
	    				</div>
							<div class="choose">
		    				<input type="radio" name="range" value="can"/>可借
		    				<input type="radio" name="range" value="all"/>全部
							</div>
							<ul class="tags">
								<li><a href="/search_results/?search=前端&range=all">前端</a></li>
								<li><a href="/search_results/?search=后台&range=all">后台</a></li>
								<li><a href="/search_results/?search=设计&range=all">设计</a></li>
								<li><a href="/search_results/?search=互联网&range=all">互联网</a></li>
								<li><a href="/search_results/?search=其他&range=all">其他</a></li>
							</ul>
	 					</form>
						</div>
						<div id="fade" class="black_overlay"></div>

				{% if current_user.is_authenticated() %}
					<li class="nav user"><a href="/user/{{ current_user.username }}">Hi!{{ current_user.username }}</a></li>
					<li class="nav log"><a href="/logout">LOG OUT</a></li>
				{% else %}
					<li class="nav log"><a href="/login">LOG ON</a></li>
						<div id="content_log" class="light_content users">
							<div class="dengLu">登录</div>
							<form action="/user">
								<p class="logOn_input">
									<label class="logo name" for="name"></label>
									<input type="text" class="logOn_input_text" name="username">
									<span class="logOn_text">姓名</span>
								</p>
								<p class="logOn_input">
									<label class="logo code" for="code"></label>
									<input type="password" class="logOn_input_text">
									<span class="logOn_text">密码</span>
								</p>
									<input type="submit" class="btn go" value="登录">
	 						</form>

	 						<div class="btn cancel"><a href="javascript:void(0)" onclick="hideBorderLog()">取消</a>
							</div>

						</div>
						<div id="fade_log" class="black_overlay"></div>
				{% endif %}
			</ul>
		</nav>
	</div>
  {% block page_content %}{% endblock %}
  <div class="zhanwei">木犀工作室出品</div>
  </div>
{% block script_file %}{% endblock %}
</body>
</html>
