<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  {% block title %}{% endblock %}
  {% block css_file %}<!-- link css file -->{% endblock %}
</head>
<body>
  {% block style %}
    <!-- css style in html file -->
  {% endblock %}
</body>
<div id="bgimage"></div>
	  <!--此处占位-->
  <div id="container">
	<div class="header">
		<nav>
		   <ul class="menu">
				<li><a href="/home">HOME</a></li>
				<li><a href="/search">SEARCH</a></li>
				{% if current_user.is_authenticated() %}
					<li><a href="/user/{{ current_user.username }}">Hi!{{ current_user.username }}</a></li>
					<li><a href="/logout">LOG OUT</a></li>
				{% else %}
					<li><a href="/login">LOG ON</a></li>
				{% endif %}
			</ul>
		</nav>
	</div>
  {% block page_content %}{% endblock %}
  <div class="zhanwei">木犀工作室出品</div>
  </div>
{% block script_file %}{% endblock %}
</body>
</html>
