<!--home.html-->
{% extends 'base.html' %}

{% block title %}<title>木犀图书</title>{% endblock %}

{% block css_file %}
  <link href="/static/css/First.css" rel="stylesheet" type="text/css" />
  <link href="/static/css/reset.css" rel="stylesheet" type="text/css" />
  <link href="/static/css/new_First.css" rel="stylesheet", type="text/css" />

{% endblock %}


{% block form_content %}

<div class="dengLu">登录</div>
  <form method="post">
	   <div class="logOn_input">
				<label class="logo name" for="name"></label>
				<div class="logOn_input_text">
        {{ form.hidden_tag() }}
        {{ form.username }}
       </div>
				<span class="logOn_text">姓名</span>
			</div>
			<div class="logOn_input">
				<label class="logo code" for="code"></label>
				<!--input type="password" class="logOn_input_text"-->
        <div class="logOn_input_text">
          {{ form.password }}
        </div>
				<span class="logOn_text">密码</span>
			</div>
				<input type="submit" class="btn go" value="登录">

	 </form>

	 <div class="btn cancel"><a href="javascript:void(0)" onclick="hideBorderLog()">取消</a>
</div>
{% endblock %}

{% block page_content %}

<div class="bar" id="bar">
	<div class="progress"></div>
</div>

<div class="container">
		<div class="left">
			   <div class="content">新增图书
			   		<div id="next" class="btn"></div>
					<div id="prev" class="btn"></div>

			   </div>


			<!--<ul class="content_nav">
				<li class="nav fe"><a href="javascript:void">前端</a>
					<ul>
					{% for book in new_book_list[:9] %}
							<li class="new_book">
								<a href="/info/{{ book.name }}"><img src={{ book.image }} alt="" class="book"></a>

									<div class="book_information">
										<a href="/info/{{ book.name }}">
										<p class="title">{{ book.name}}</p>
									 	<p class="author">{{ book.author }}</p>
									 </a>
									 <div class="book_tags">
									 	<p>
									    类别：{{ book.tag }}<br/>
											<br/>
											{{ book.summary[:100] }}...
										</p>
									 </div>
									</div>
								</li>
					{% endfor %}
					</ul>
				</li>
				<li class="nav bd"><a href="javascript:void">后台</a>
						<ul>
					{% for book in new_book_list[:4] %}
							<li class="new_book">
								<a href="/info/{{ book.name }}"><img src={{ book.image }} alt="" class="book"></a>

									<div class="book_information">
										<a href="/info/{{ book.name }}">
										<p class="title">{{ book.name}}</p>
									 	<p class="author">{{ book.author }}</p>
									 </a>
									 <div class="book_tags">
									 	<p>
									    类别：{{ book.tag }}<br/>
											<br/>
											{{ book.summary[:100] }}...
										</p>
									 </div>
									</div>
								</li>
					{% endfor %}
					</ul>
				</li>
				<li class="nav ds"><a href="javascript:void">设计</a>
					<ul>
					{% for book in new_book_list[:1] %}
							<li class="new_book">
								<a href="/info/{{ book.name }}"><img src={{ book.image }} alt="" class="book"></a>

									<div class="book_information">
										<a href="/info/{{ book.name }}">
										<p class="title">{{ book.name}}</p>
									 	<p class="author">{{ book.author }}</p>
									 </a>
									 <div class="book_tags">
									 	<p>
									    类别：{{ book.tag }}<br/>
											<br/>
											{{ book.summary[:100] }}...
										</p>
									 </div>
									</div>
								</li>
					{% endfor %}
					</ul></li>
				<li class="nav ad"><a href="javascript:void">安卓</a>
					<ul>
					{% for book in new_book_list[:3] %}
							<li class="new_book">
								<a href="/info/{{ book.name }}"><img src={{ book.image }} alt="" class="book"></a>

									<div class="book_information">
										<a href="/info/{{ book.name }}">
										<p class="title">{{ book.name}}</p>
									 	<p class="author">{{ book.author }}</p>
									 </a>
									 <div class="book_tags">
									 	<p>
									    类别：{{ book.tag }}<br/>
											<br/>
											{{ book.summary[:100] }}...
										</p>
									 </div>
									</div>
								</li>
					{% endfor %}
					</ul></li>
				<li class="nav it"><a href="javascript:void">互联网</a>
					<ul>
					{% for book in new_book_list[:6] %}
							<li class="new_book">
								<a href="/info/{{ book.name }}"><img src={{ book.image }} alt="" class="book"></a>

									<div class="book_information">
										<a href="/info/{{ book.name }}">
										<p class="title">{{ book.name}}</p>
									 	<p class="author">{{ book.author }}</p>
									 </a>
									 <div class="book_tags">
									 	<p>
									    类别：{{ book.tag }}<br/>
											<br/>
											{{ book.summary[:100] }}...
										</p>
									 </div>
									</div>
								</li>
					{% endfor %}
					</ul></li>
				<li class="nav ot"><a href="javascript:void">其他</a>
					<ul>
					{% for book in new_book_list[:2] %}
							<li class="new_book">
								<a href="/info/{{ book.name }}"><img src={{ book.image }} alt="" class="book"></a>

									<div class="book_information">
										<a href="/info/{{ book.name }}">
										<p class="title">{{ book.name}}</p>
									 	<p class="author">{{ book.author }}</p>
									 </a>
									 <div class="book_tags">
									 	<p>
									    类别：{{ book.tag }}<br/>
											<br/>
											{{ book.summary[:100] }}...
										</p>
									 </div>
									</div>
								</li>
					{% endfor %}
					</ul></li>
			</ul>
		</div>
			{% for book in new_book_list %}
				<div class="new_book">
					<a href="/info/{{ book.name }}"><img src={{ book.image }} alt="" class="book"></a>

						<div class="book_information">
							<a href="/info/{{ book.name }}">
							<p class="title">{{ book.name}}</p>
						 	<p class="author">{{ book.author }}</p>
						 </a>
						 <div class="book_tags">
						 	<p>
						    类别：{{ book.tag }}<br/>
								<br/>
								{{ book.summary[:100] }}...
							</p>
						 </div>
						</div>
					</div>
			{% endfor %}
			<!--<ul class>-->
		  <div class="showbox">
		   <ul class="slide">
        {% for i in range_book_count %}
		  	<li class="box">
			   {% for book in new_book_list[i*6:(i+1)*6] %}
				     <div class="new_book">
					          <a href="/info/{{ book.name }}"><img src={{ book.image }} alt="" class="book"></a>
                    <div class="book_information">
							      <a href="/info/{{ book.name }}">
						                <p class="title">{{ book.name}}</p>
						 	              <p class="author">{{ book.author }}</p>
						        </a>
						 <div class="book_tags">
						 <p>
						    类别：{{ book.tag }}<br/>
								<br/>
								{{ book.summary[:100] }}...
						 </p>
						 </div>
						  </div>
					  </div>
			{% endfor %}
			</li>
    {% endfor %}
<!--
			<li class="box">
			{% for book in new_book_list[6:12] %}
				<div class="new_book">
					<a href="/info/{{ book.name }}"><img src={{ book.image }} alt="" class="book"></a>

						<div class="book_information">
							<a href="/info/{{ book.name }}">
							<p class="title">{{ book.name}}</p>
						 	<p class="author">{{ book.author }}</p>
						 </a>
						 <div class="book_tags">
						 	<p>
						    类别：{{ book.tag }}<br/>
								<br/>
								{{ book.summary[:100] }}...
							</p>
						 </div>
						</div>
					</div>
			{% endfor %}
			</li>

			<li class="box">
			{% for book in new_book_list[12:18] %}
				<div class="new_book">
					<a href="/info/{{ book.name }}"><img src={{ book.image }} alt="" class="book"></a>

						<div class="book_information">
							<a href="/info/{{ book.name }}">
							<p class="title">{{ book.name}}</p>
						 	<p class="author">{{ book.author }}</p>
						 </a>
						 <div class="book_tags">
						 	<p>
						    类别：{{ book.tag }}<br/>
								<br/>
								{{ book.summary[:100] }}...
							</p>
						 </div>
						</div>
					</div>
			{% endfor %}
			</li>
  -->
		  </ul>
	    </div>
	</div>

		<div class="right">
				<span class="content">最近借阅</span>
				{% for book in get_book_list %}
				 <div class="new_book">
					<a href="#"><img src={{ book.image }} alt="" class="book"></a>
						<div class="book_information ">
							<a href="#">
								<p class="title">{{ book.name }}</p>

								<p class="author">{{ book.author }}</p>
							</a>
						 		<div class="book_tags">
						 			<p>借阅者：{{ book.user.username}}</p>
									<p>到期时间：{{ book.end }}</p>
							 	</div>
						</div>

				</div>

			{% endfor %}
			<!--占位-->
		</div>
</div>


{% endblock %}


{% block script_file %}
  <script type="text/javascript" src="/static/js/jquery-1.3.2.min.js"></script>
  <script type="text/javascript" src="/static/js/shouye.js"></script>
{% endblock %}
