{% extends "base.html" %}
{% block title %}<title>图书信息</title>{% endblock %}

{% block css_file %}
  <link href="/static/css/First.css" rel="stylesheet" type="text/css" />
  <link href="/static/css/reset.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block page_content %}
  <div class='info'>
    <img src={{ book.image }}>
    <h3>{{ book.name }}</h3>
    <h3>{{ book.author }}</h3>
    <h3>{{ book.summary}}</h3>
  </div>
  {% if book.status == False %}
    <form method="post">
      {{ form.hidden_tag() }}
      {{ form.day }}
      {{ form.submit }}
    </form>
  {% endif %}
{% endblock%}

{% block script_file %}
  <script type="text/javascript" src="/static/js/jquery-1.3.2.min.js"></script>
  <script type="text/javascript" src="/static/js/shouye.js"></script>
{% endblock %}
