<title>木犀头像</title>
<html>
<head>
    <style type="text/css">
        .quxiao a{
            display: block;
            background-color: #eee;
            border-radius: 5px;
            line-height: 20px;
            width: 40px;
            text-decoration: none;
            margin: 5px 130px;
            color: black;
        }
    </style>
</head>
    <body>
    <h1>木犀图书头像上传</h1>
    <div class='form'>
     <form action="" method='post' enctype='multipart/form-data'>
        <p> <input type=file name=file></p>
        <p><input type=submit value=Upload></p>
        <div class="quxiao"><a href="javascript:;" onclick="parent.document.getElementById('avanter_iframe').style.display='none'">取消</a>
    </form>
    </div>
    <body>
</html>
